main{
    width: 85%;
    height: 100vh;
    float: left;
    position: relative;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5% 10%;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3% 10%;
}

pre {
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-left: 3px solid #3380f3;
    color: rgb(54, 54, 54);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
